
.env

todo.txt

frontend/logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
backend/node_modules
frontend/dist
backend/dist
frontend/dist-ssr
*.local

backend/coverage
backend/.env

# Editor directories and files
frontend/.vscode/*
backend/.vscode/*
!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
