@use "../styles/variables.scss" as *;

.container {
    display: flex;
    position: fixed;
    background-color: $color-incorrect;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    top:5rem;
    left: 50%;
    width: 40%;
    transform: translate(-50%, 0);
}

.text {
    color: white;
    font-size: $text-size-smaller;
}
