@use "../styles/variables.scss" as *;

.container {
    display: flex;
    

    
}

.button {
    font-family: $font-family-base;
    font-size: $text-size-smaller;
    text-align: center;

    padding: 0.5rem;
    
    border-radius: 10px;
    border: none;
    background-color: $primary-color;
    color: $background-color;
    cursor: pointer;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border 0.2s ease-out;
    &:hover {
        background-color: $background-color;
        color: $primary-color;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 1);
    }
}
