@use "../styles/variables" as *;

.container {
    display: flex;
    z-index: 9;
    gap: 0 10px;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    flex-shrink: 0;
    width: 100%;
    background-color: $primary-color;
    padding: 0 30px;
}
