@use "../styles/variables.scss" as *;

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 4rem 2rem;
    box-sizing: border-box;
    background-color: $background-color;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
    overflow-y: auto;
}
