@use "../styles/variables" as *;

.container {
    display: flex;
    position: relative;
    top: 20%;
    margin: 0 12rem;
    max-width: 200rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
