@use "../styles/variables" as *;
.container {
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 60px;
}

.typingStat {
    margin: 10px 20px;
    font-size: $text-size;
    font-family: $font-family-base;
    color: $primary-color;
}
