@use "../styles/variables" as *;

.container {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 200px;
}
