@use "../styles/variables" as *;


.container {
    display: flex;
    margin: 200px;
    //flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    height: 180px;
    background-color: rgba(80, 80, 80, 0.363);
    overflow-y: hidden;
    position: relative;
}

.line {
  position: fixed;
  top: 200px; // <-- Y position in pixels
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  z-index: 1000; // keep it visible above other elements
}

.inner {
    transition: transform 0.2s ease-out;
    display: flex;
    flex-wrap: wrap;
}

.wordContainer {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.charContainer {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 40px;

}

%charBase {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

.charCorrect {
    @extend %charBase;
    color: greenyellow;
}

.charIncorrect {
    @extend %charBase;
    color: red;
}

.charUntyped {
    @extend %charBase;
    color: gray;
}

%caretBase {
    display: inline-block;
    width: 3px;
    height: 1em;
    border-radius: 10px;
}

.caret {
    @extend %caretBase;
    background-color: blue;
    animation: blink 1s step-end infinite;
}

.noCaret {
    @extend %caretBase;
    background-color: transparent;
}

@keyframes blink {
    from,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}
