$primary-color: rgb(217, 255, 0);
$color-correct: rgb(0, 167, 0);
$color-incorrect: rgba(255, 0, 0, 0.5);
$background-color: rgb(34, 34, 34);
$text-size: 40px;
$text-size-smaller: 24px;
$font-family-base: "Roboto", sans-serif;