@use "../../styles/variables.scss" as *;

.modeContainer {
    display: flex;
    gap: 2rem;
}

.button {
    color: $background-color;
    font-size: 1.5rem;
    font-style: $font-family-base;
    background-color: $background-color-secondary;
    padding: 0;

    border: none;
    cursor: pointer;

    &:hover {
        color: white;
        transform: scale(1.1);
    }
}

.buttonSelected {
    @extend .button;
    color: $primary-color;
    transform: scale(1.1);
    &:hover {
        color: $primary-color;
    }
}

.settingsBoard {
    display: flex;
    height: 3.75rem;
    border-radius: 30px;
    background-color: $background-color-secondary;
    align-items: center;
    padding: 0 2rem;
    gap: 2rem;
}

.sliderContainer {
    display: flex;
    align-items: center;

    label {
        color: $primary-color;
        font-family: $font-family-base;
        margin-right: 0.5rem;
    }

    input[type="number"] {
        font-family: $font-family-base;
        background-color: rgba(255, 255, 255, 0);
        margin-left: 0.5rem;
        font-size: 1rem;
        width: 2rem;
        border: none;
        color: $primary-color;
        /* Hide arrows in Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Hide arrows in Firefox */
        -moz-appearance: textfield;

        /* Optional: style like a normal text input */
        appearance: textfield;
    }
}
